<!-- nav -->
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" *ngIf="currentUser">
        <a class="navbar-brand" href="#">Votador</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Recursos</a>
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </nav>
</header>

<!-- main app container -->
<section>
    <div class="container">
        <router-outlet></router-outlet>
    </div>            
</section>
