<h2>Listagem de Recursos</h2>
<div class="table-resposive-md">
    <table class="table table-striped">
        <thead>
          <tr> 
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">Número de votos</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of page;">
            <td scope="row">{{feature.title}}</td>
            <td>{{feature.description | truncate: 50: '...' }}</td>
            <td class="text-center"><span class="badge badge-primary badge-pill">{{feature.numberOfVotes}}</span></td>
            <td>
              <button type="button" class="btn btn-info btn-sm" (click)="detailFeature(feature)">Visualizar</button>&nbsp;
              <button type="button" class="btn btn-primary btn-sm"  (click)="openModal(template, feature)">Votar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pull-right" *ngIf="features">
        <pagination [totalItems]="features.length" itemsPerPage="{{itemsPerPage}}" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirme seu voto.</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form [formGroup]="voteForm" (ngSubmit)="submitVote()">
      <div class="modal-body">
          <div class="form-group">
              <label for="comment">Adicione um comentário ao seu voto.</label>
              <textarea class="form-control" id="comment" rows="3" formControlName="comment" required></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="voteForm.invalid">Confirmar</button>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">Cancelar</button>
      </div>
    </form>
</ng-template>
