<h2>Detalhes da votação do recurso.</h2>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>{{feature?.title}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Descrição:</h5>
            <p class="card-text">{{feature?.description}}</p>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-lg"  (click)="openModal(template, feature)">Votar</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Votos</h4>
        </div>
        <div class="gaadiex-list" *ngIf="!feature?._embedded">
            <div class="gaadiex-list-item border-b-1">
                <h4 class="no-votes">Não há votos.</h4>
            </div>
        </div>
        <div class="gaadiex-list" *ngIf="feature?._embedded && feature?._embedded.votes">
            <div *ngFor="let vote of feature?._embedded.votes" class="gaadiex-list-item border-b-1">
                <i class="fa fa-user"></i>
                <div class="gaadiex-list-item-text">
                    <h5>{{vote.user.name}} - {{vote.user.email}}</h5>
                    <h6>Comentário:</h6>
                    <p>{{vote.comment}}</p>
                    <p class="date">Data e Hora: {{vote.date | date: 'dd/MM/yyyy HH:mm:ss a z':'GMT-3' }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right">
        <a routerLink="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Voltar</a>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirme seu voto.</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form [formGroup]="voteForm" (ngSubmit)="submitVote()">
        <div class="modal-body">
            <div class="form-group">
                <label for="comment">Adicione um comentário ao seu voto.</label>
                <textarea class="form-control" id="comment" rows="3" formControlName="comment" required></textarea>
            </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="voteForm.invalid">Confirmar</button>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">Cancelar</button>
        </div>
    </form>
</ng-template>
    