.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 18px;
    margin: 0 auto;
}
div.text-center {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 20%;
}